
[submodule "chromatic_tda/algorithms/chromatic_tda/algorithms/miniball"]
	path = chromatic_tda/algorithms/chromatic_tda/algorithms/miniball
	url = https://github.com/OnDraganov/miniball.git
[submodule "chromatic_tda/algorithms/miniball"]
	path = chromatic_tda/algorithms/miniball
	url = https://github.com/OnDraganov/miniball.git
